body {
    
    #settings{
        margin-left:10px;
        margin-top:10px;

        #listboxInfo{
            width:600px;
            height:200px;
        }

        #drawboard{

            margin-top:20px;
            width:600px;
            height:300px;

            border:1px solid;
        }
    }
}