body {

    .tigerEntity{

        margin-left:auto; 
        margin-right:auto;
        background-color:lightgray;
        padding:5px;

        table{

            width:600px;
            img{
                width:200px;
            }
        }
    }
}
